fileexplorer-to/src/main/xsd/base.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.shri.org/fw/base"
	elementFormDefault="qualified">

	<complexType name="FilterCriteria">
		<sequence>
			<element name="name" type="string" />
			<element name="value" type="string" />
		</sequence>
	</complexType>
</schema>